@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .masonry-5-col {
        column-count: 5;
        column-gap: 1em;
      }
      .masonry-4-col {
        column-count: 4;
        column-gap: 1em;
      }
      .masonry-3-col {
          column-count: 3;
          column-gap: 1em;
      }
      .masonry-2-col {
          column-count: 2;
          column-gap: 1em;
      }
      .break-inside {
        break-inside: avoid;
      }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  border: 1px;
}