@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.box {
	@apply
		min-w-full
		h-60
		min-h-full
}